// base
@import "compass";
@import "partials/_variables.scss";
@import "partials/_mixin.scss";
@import "partials/_normalize.scss";
@import "partials/_overlayer.scss";
@import "partials/_text.scss";
@import "partials/_menu.scss";
@import "partials/_social.scss";
@import "partials/_cookies.scss";

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background: #000;
    height: 100%;
    font-family: $font;
    @include reset;
    overflow-x: hidden;
    color: white;
    font-size: 16px;
    line-height: 24px;
}


.page {
    height: 100%;
    overflow: hidden;
}


.cont {
    height: 100%;
    transform: translateX(0px);
    position: relative;
    z-index: 2;
    transition: $transition;
    .cont-inner {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
        transition: $transition;
        transform: translateX(0);
        &.menu_opened {
            transform: translateX($menu-offset);
            transition: $transition;
            @include respond-to(414) {
                transform: translateX(320px);
            }
        }
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .6);
            z-index: 1;
        }
    }
}

.center {
    position:absolute;
    text-align: center;
    z-index: 2;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
}

.screen {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 2px solid #fff;
}

.rotate-device {
    display: none;
}
.page.isMobile {
    @media (orientation: landscape) {
        .rotate-device {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1001;
            background: url(../images/rotate.png) center center no-repeat #333;
            display: block;
            background-size: auto 89px;
        }
    }
}

.insta-img {
    vertical-align: bottom;
    border: 0;
    width: 33.3333333%;
    display: inline-block;
    float: left;

    @media (min-width:769px) {
        width: 20%;
    }
    @media (min-width:1281px) {
        width:16.66666666666667%;
    }
}
