<!doctype html>
<!--[if IE 9]>
<html lang="en" class="ie ie9">
<![endif]-->
<!--[if lt IE 9]>
<html lang="en" class="ie ie-legacy">
<![endif]-->
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>C'è la partita domani a Roma?</title>
    <!-- http://realfavicongenerator.net/ -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="description" content="Questo sito risponde alla domanda: 'C'è la partita domani a Roma?' - così almeno vi organizzate.">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Open-Sans:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- facebook -->
    <meta property="og:title" content="content">
    <meta property="og:type" content="website">
    <meta property="og:url" content="content">
    <meta property="og:image" content="absolute url">
    <meta property="og:description" content="content">
    <meta property="og:site_name" content="url">
    <!-- twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nytimes">
    <meta name="twitter:creator" content="@nytimes">
    <meta name="twitter:title" content="heading of the card">
    <meta name="twitter:description" content="description of the card">
    <meta name="twitter:image" content="url/to/the/pic.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
</head>

<body class="" ng-app="partitaaroma">


    <div class="overlay" ng-show="!loaded">
        <div class="message">
            <div class="spin"></div>
        </div>
    </div>

    <div class="page" ng-controller="PageCtrl" ng-cloak ng-class="deviceModel">
        <div class="rotate-device">

        </div>

        <div class="menu" ng-click="opened = !opened"></div>
        <div class="menu-cont" ng-class="{'opened' : opened}">
            <div class="close" ng-click="opened = !opened"></div>
            <h1>Perche?</h1>
            <p>Questo servizio è dedicato a tutti i romani che non seguono il calcio, ma ne sono vittima ogni settimana: <b>traffico</b>, aree di parcheggio <b>transennate</b>, strade <b>chiuse con conseguente deviazione del traffico</b>.</p>
            <p>Chi non segue il calcio spesso scopre troppo tardi lo svolgersi di una partita, e si trova a fronteggiare i disagi del caso senza potersi organizzare in anticipo.</p>
            <br>
            <h1>Consultazione veloce</h1>
            <p>Accedete al sito da mobile e cercate fra le opzioni del browser del vostro cellulare il tasto "<b>Add to Homescreen / Aggiungi a Home</b>". Cliccate e l'icona del sito vi apparirà nella schermata Home fra le altre app del vostro cellulare,
                in questo modo sarà più veloce consultare il sito.</p>
            <h1>Credits</h1>
            <p>
                - Ideato e sviluppato da: <a href="http://valeriopierbattista.com" target="_blank">Valerio Pierbattista</a> e <a href="https://www.linkedin.com/in/patriziomunzi" target="_blank">Patrizio Munzi</a><br>
                - Le immagini di sfondo sono prese da google<br>
                - Le informazioni delle partite sono prese da <a href="http://football-data.org" target="_blank">football-data.org</a><br>
            </p>

        </div>
        <div class="cont" ng-view ng-class="{'opened' : opened}"></div>

    </div>
    <!-- JS scripts -->
    <script src="js/require.js" data-main="js/main.js"></script>
</body>

</html>
