<div class="menu" ng-click="toggleMenu()"></div>
<div class="menu-cont" ng-class="{'menu_opened' : menuOpened}">
    <div class="stripes-top"></div>
    <div class="close" ng-click="toggleMenu()"></div>
    <h1>Perche?</h1>
    <p>Questo servizio è dedicato a tutti i romani che non seguono il calcio, ma ne sono vittima ogni settimana: <b>traffico</b>, aree di parcheggio <b>transennate</b>, strade <b>chiuse con conseguente deviazione del traffico</b>.</p>
    <p>Chi non segue il calcio spesso <b>scopre troppo tardi</b> lo svolgersi di una partita, e si trova a fronteggiare i disagi del caso <b>senza potersi organizzare in anticipo</b>.</p>
    <br>
    <h1>instagram</h1>
    <p>Fotografa su Instagram i disagi dovuti alla partita usando l'hashtag <b>#partitadomaniaroma</b> per vedere la tua foto usata come sfondo sul sito!</p>
    <br>
    <h1>Consultazione veloce</h1>
    <p>Accedete al sito da mobile e cercate fra le opzioni del browser del vostro cellulare il tasto "<b>Add to Homescreen</b> / <b>Aggiungi a Home</b>". Cliccate e l'icona del sito vi apparirà nella schermata Home <b>fra le altre app</b> del vostro cellulare.</p>
    <img src="images/screenshot-android.jpg" alt="screenshot android" class="screen">
    <img src="images/screen-ios.png" alt="screenshot android" class="screen">
    <h1>Credits</h1>
    <ul>
        <li>
            <p>Ideato e realizzato da:

                <a href="http://valeriopierbattista.com" target="_blank">Valerio Pierbattista</a> e <a href="https://www.linkedin.com/in/patriziomunzi" target="_blank">Patrizio Munzi</a></p>
        </li>
        <li>
            <p>Le immagini di sfondo sono prese da Google</p>
        </li>
        <li>
            <p>Il repository del progetto è su <a href="https://github.com/vlrprbttst/partita-domani-a-roma" target="_blank" class="github">Github</a></p>
        </li>
        <li>
            <p>Le informazioni sulle partite sono prese da <a href="http://football-data.org" target="_blank">www.football-data.org</a></p>
        </li>
    </ul>
    <h1>Cookies</h1>
    <p>Questo sito utilizza cookie di sessione, cookie analytics e cookies di terze parti. Per saperne di più <a href="cookies">clicca qui</a>. </p>
</div>
<cookies-policy></cookies-policy>
<div class="cont-inner" ng-class="{'menu_opened' : menuOpened}" stop-screen-move style="background-image:url({{::background}})">

    <img ng-repeat="image in images track by $index" ng-src="{{image}}" class="insta-img">

    <!--

    note sul numero di immagini:

    - da >= 1281 in su 42 immagini
    - fra 768 a 1280 inclusi ne servono 23
    - da 600 a 767 inclusi ne servono 11
    - da 0 a 599 ne servono 20

    -->

    <div class="center">
        <h1>C'è la partita
        <br> {{::location}} a Roma?</h1>
        <h2>{{::match ? 'Si' : "No"}}</h2>
        <h3 ng-if="match">Gioca {{::match.homeTeam.article}}
          <span class="{{::match.homeTeamClass}}">{{::match.homeTeam.name}}</span><br> alle
          <span class="orario">{{::match.timestamp | date:'HH:mm'}}</span>
        </h3>
        <a class="switch" ng-href='{{::location == "domani" ? "/oggi" : "/"}}'>{{::location == "domani" ? "e oggi?" : "e domani?"}}</a>
    </div>
</div>
