<div class="cont-inner" ng-class="contentClass" >
    <div class="center" >
        <a style="background:#fff;"ng-href="/{{::link}}">{{::link}}</a>
        <h2>C'è la partita
        <br>
        {{::date}} a Roma?</h2>
        <h1>{{::match ? 'Si' : "No"}}</h1>
        <h3 ng-if="match">Gioca la
          <span class="{{::match.homeTeamClass}}">{{::match.homeTeamName}}</span> alle
          <span class="orario">{{::match.timestamp | date:'HH:mm'}}</span>
        </h3>
        <p>
            <!-- eventuali frasi personalizzate -->
        </p>
    </div>
    
</div>
