<div class="menu" ng-click="opened = !opened"></div>
<div class="menu-cont" ng-class="{'opened' : opened}">
    <div class="stripes-top"></div>
    <div class="close" ng-click="opened = !opened"></div>
    <h1>Perche?</h1>
    <p>Questo servizio è dedicato a tutti i romani che non seguono il calcio, ma ne sono vittima ogni settimana: <b>traffico</b>, aree di parcheggio <b>transennate</b>, strade <b>chiuse con conseguente deviazione del traffico</b>.</p>
    <p>Chi non segue il calcio spesso scopre troppo tardi lo svolgersi di una partita, e si trova a fronteggiare i disagi del caso senza potersi organizzare in anticipo.</p>
    <br>
    <h1>Consultazione veloce</h1>
    <p>Accedete al sito da mobile e cercate fra le opzioni del browser del vostro cellulare il tasto "<b>Add to Homescreen / Aggiungi a Home</b>". Cliccate e l'icona del sito vi apparirà nella schermata Home fra le altre app del vostro cellulare.</p>
    <img src="images/screenshot-android.jpg" alt="screenshot android" class="screen">
    <img src="images/screen-ios.png" alt="screenshot android" class="screen">
    <h1>Credits</h1>
    <ul>
        <li>
            <p>Ideato e realizzato da:
                <br>
                <a href="http://valeriopierbattista.com" target="_blank">Valerio Pierbattista</a> e <a href="https://www.linkedin.com/in/patriziomunzi" target="_blank">Patrizio Munzi</a></p>
        </li>
        <li>
            <p>Le immagini di sfondo sono prese da Google</p>
        </li>
        <li>
            <p>Il repository del progetto è su <a href="https://github.com/vlrprbttst/partita-domani-a-roma" target="_blank" class="github">Github</a></p>
        </li>
        <li>
            <p>Le informazioni sulle partite sono prese da <a href="http://football-data.org" target="_blank">www.football-data.org</a></p>
        </li>
    </ul>
    <h1>Cookies</h1>
    <p>Questo sito utilizza cookie di sessione, cookie analytics e cookies di terze parti. Per saperne di più <a href="cookies">clicca qui</a>. </p>
</div>
<cookies-policy></cookies-policy>
<div class="cont-inner" ng-class="{'opened' : opened}" stop-screen-move style="background-image:url({{::background}})">
    <div class="center">
        <h1>C'è la partita
        <br> {{::location}} a Roma?</h1>
        <h2>{{::match ? 'Si' : "No"}}</h2>
        <h3 ng-if="match">Gioca {{::match.homeTeam.article}}
          <span class="{{::match.homeTeamClass}}">{{::match.homeTeam.name}}</span><br> alle
          <span class="orario">{{::match.timestamp | date:'HH:mm'}}</span>
        </h3>
    </div>
    <a class="switch" ng-href='{{::location == "domani" ? "/oggi" : "/"}}'>{{::location == "domani" ? "e oggi?" : "e domani?"}}</a>
</div>
