@use 'base';
@use 'layout';
@use 'overlays';
@use 'typography';
@use 'home';
@use 'install-banner';
@use 'consent-banner';
@use 'menu';
@use 'cookie-policy';

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
