.cont {
  .si-1 {
    background-image: url(../images/si-sfondo1.jpg);
  }
  .si-2 {
    background-image: url(../images/si-sfondo2.jpg);
  }
  .si-3 {
    background-image: url(../images/si-sfondo3.jpg);
  }
  .si-4 {
    background-image: url(../images/si-sfondo4.jpg);
  }
  .si-5 {
    background-image: url(../images/si-sfondo5.jpg);
  }
  .si-6 {
    background-image: url(../images/si-sfondo6.jpg);
  }
  .si-7 {
    background-image: url(../images/si-sfondo7.jpg);
  }
  .si-8 {
    background-image: url(../images/si-sfondo8.jpg);
  }
  .si-9 {
    background-image: url(../images/si-sfondo9.jpg);
  }
  .si-10 {
    background-image: url(../images/si-sfondo10.jpg);
  }
}

.cont {
  .no-1 {
    background-image: url(../images/no-sfondo1.jpg);
  }
  .no-2 {
    background-image: url(../images/no-sfondo2.jpg);
  }
  .no-3 {
    background-image: url(../images/no-sfondo3.jpg);
  }
  .no-4 {
    background-image: url(../images/no-sfondo4.jpg);
  }
  .no-5 {
    background-image: url(../images/no-sfondo5.jpg);
  }
  .no-6 {
    background-image: url(../images/no-sfondo6.jpg);
  }
  .no-7 {
    background-image: url(../images/no-sfondo7.jpg);
  }
  .no-8 {
    background-image: url(../images/no-sfondo8.jpg);
  }
  .no-9 {
    background-image: url(../images/no-sfondo9.jpg);
  }
  .no-10 {
    background-image: url(../images/no-sfondo10.jpg);
  }
}
