html.si body {
  &.si-1 {
    background-image: url(/images/si-sfondo1.jpg);
  }
  &.si-2 {
    background-image: url(/images/si-sfondo2.jpg);
  }
  &.si-3 {
    background-image: url(/images/si-sfondo3.jpg);
  }
  &.si-4 {
    background-image: url(/images/si-sfondo4.jpg);
  }
  &.si-5 {
    background-image: url(/images/si-sfondo5.jpg);
  }
  &.si-6 {
    background-image: url(/images/si-sfondo6.jpg);
  }
  &.si-7 {
    background-image: url(/images/si-sfondo7.jpg);
  }
  &.si-8 {
    background-image: url(/images/si-sfondo8.jpg);
  }
  &.si-9 {
    background-image: url(/images/si-sfondo9.jpg);
  }
  &.si-10 {
    background-image: url(/images/si-sfondo10.jpg);
  }
}
