.cookie-popup {
    position: fixed;
    top: 45px;
    right: 12px;
    z-index: 3;
    color: white;
    font-family: $font2;
    font-size: 12px;
    line-height: 18px;
    width: 230px;
    text-align: right;
    transition: $transition;
    transform: translateX(0);
    a,
    a:visited,
    a:hover {
        color: white;
        text-decoration: underline;
    }
    @media all and (min-width:768px) {
        font-size: 16px;
        line-height: 24px;
        width: 380px;
        br {
            display: none;
        }
    }
}
.page.menu_opened .cookie-popup {
    transition: $transition;
    transform: translateX($menu-offset);
    @include respond-to(414) {
        transform: translateX(320px);
    }
}
.cookie-cont {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: white;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 3;
    position: absolute;
    width: 100%;
    .cookie-inner {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        a,
        a:visited,
        a:hover {
            color: white;
        }
        a.back-btn {
            display: block;
            width: 100%;
            background: #fcff00;
            color: black;
            left: 0;
            padding: 5px 10px;
            text-align: center;
            text-transform: uppercase;

        }
        h1 {
            border: 0;
        }
    }
}
